<!DOCTYPE html>
{% extends "index.html" %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Nouveau CD</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary btn-block">Enregistrer</button>
                <!--<input type="submit" value="submit">-->
            </form>
        </div>
    </div>
</div>

{% endblock %}