<!DOCTYPE html>
{% extends "index.html" %}


{% block main_content%}
{% load bootstrap_icons %}

<div class="container-flex">
    <h1 class="text-center"> Bienvenue à la Bibliothèque numérique</h1>

    <!-- cette section sera uniquement visible pour les utilasateur: type bibliothécaire -->
    {% if perms.bibliotheque.add_membre or perms.bibliotheque.change_membre %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'ajouter-membre'%}" class="btn btn-success float-right">{% bs_icon 'plus' %} Ajouter un membre</a>
        </div>

        <div class="container-flex text-center justify-content-center align-items-center">
            <div class="row" style="margin-top: 20px;">
                <div class="container" style="overflow-y: auto;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Nom</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for membre in membres %}
                                <tr>
                                    <td>{{membre.name}}</td>
                                    <td>
                                        <a href="{% url 'update-membre' membre.id%}" class="btn btn-info">{% bs_icon 'pencil' %}</a>
                                        <a href="{% url 'delete-membre' membre.id%}" class="btn btn-danger">{% bs_icon 'trash' %}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        

                    </table>

                </div>

            </div>
        </div>
    </div>
    <!-- cette section sera uniquement visible les visiteurs: type membre -->
    {% else %}
    <div class="container">
        <ul class="list">
            <li><a href="{% url 'livres'%}">Livres</a></li>
            <li><a href="{% url 'dvds'%}">DVDs</a></li>
            <li><a href="{% url 'cds'%}">CDs</a></li>
        </ul>
    </div>
    {% endif %}

</div>

{% endblock %}