<!DOCTYPE html>
{% extends "index.html" %}


{% block main_content %}

{% load bootstrap_icons %}

<div class="container">
    <div class="row">
        <!-- cette section sera uniquement visible pour les utilasateur: type bibliothécaire avec une autorisation -->
        {% if perms.bibliotheque.add_dvd %}
        <div class="col-md-12">
            <a href="{% url 'ajouter-dvd'%}" class="btn btn-success float-right">{% bs_icon 'plus' %} Ajouter un DVD</a>
        </div>
        {% endif %}

        <div class="container-flex text-center justify-content-center align-items-center">
            <div class="row" style="margin-top: 20px;">
                <div class="container" style="overflow-y: auto;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Nom</td>
                                <td>Réalisateur</td>
                                <td>Disponibilité</td>
                                {% if perms.bibliotheque.change_dvd or perms.bibliotheque.delete_dvd  %}
                                <td>Action</td>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for dvd in dvds %}
                                <tr>
                                    <td>{{dvd.nom}}</td>
                                    <td>{{dvd.realisateur}}</td>
                                    <td>{{dvd.disponible}}</td>
                                    {% if perms.bibliotheque.change_dvd or perms.bibliotheque.delete_dvd  %}
                                    <td>
                                        <a href="{% url 'update-dvd' dvd.id%}" class="btn btn-info">{% bs_icon 'pencil' %}</a>
                                        <a href="{% url 'delete-dvd' dvd.id%}" class="btn btn-danger">{% bs_icon 'trash' %}</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}