<!DOCTYPE html>
{% extends "index.html" %}


{% block main_content %}

{% load bootstrap_icons %}

<div class="container">
    <div class="row">
        <!-- cette section sera uniquement visible pour les utilasateur: type bibliothécaire avec une autorisation -->
        {% if perms.bibliotheque.add_jeu %}
        <div class="col-md-12">
            <a href="{% url 'ajouter-jeu'%}" class="btn btn-success float-right">{% bs_icon 'plus' %} Ajouter un jeu de plateau</a>
        </div>
        {% endif %}
        <div class="container-flex text-center justify-content-center align-items-center">
            <div class="row" style="margin-top: 20px;">
                <div class="container" style="overflow-y: auto;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Nom</td>
                                <td>Créateur</td>
                                {% if perms.bibliotheque.change_jeu or perms.bibliotheque.delete_jeu %}
                                <td>Action</td>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for jeu in jeux %}
                                <tr>
                                    <td>{{jeu.name}}</td>
                                    <td>{{jeu.createur}}</td>
                                    {% if perms.bibliotheque.change_jeu or perms.bibliotheque.delete_jeu %}
                                    <td>
                                        <a href="{% url 'update-jeu' jeu.id%}" class="btn btn-info">{% bs_icon 'pencil' %}</a>
                                        <a href="{% url 'delete-jeu' jeu.id%}" class="btn btn-danger">{% bs_icon 'trash' %}</a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}